@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Entertainers

<center>
    <div class="container col-5">
        <form asp-controller="Home" asp-action="About" method="post">
            <input type="hidden" asp-for="EntertainerId" value="@Model.EntertainerId" />
            <div class="d-inline flex-nowrap justify-content-center">
                <div class="form-group d-inline-block mr-2">
                    <label asp-for="EntStageName">Stage Name</label>
                    <br />
                    <input type="text" asp-for="EntStageName" />
                    <span asp-validation-for="EntStageName"></span>
                </div>
                <div class="form-group d-inline-block mr-2">
                    <label asp-for="EntSsn">SSN</label>
                    <br />
                    <input type="text" asp-for="EntSsn" />
                    <span asp-validation-for="EntSsn"></span>
                </div>
                <div class="form-group d-inline-block mr-2">
                    <label asp-for="EntStreetAddress">Street Address</label>
                    <br />
                    <input type="text" asp-for="EntStreetAddress" />
                    <span asp-validation-for="EntStreetAddress"></span>
                </div>
                <div class="form-group d-inline-block mr-2">
                    <label asp-for="EntCity">City</label>
                    <br />
                    <input type="text" asp-for="EntCity" />
                    <span asp-validation-for="EntCity"></span>
                </div>
                <div class="form-group d-inline-block mr-2">
                    <label asp-for="EntState">State</label>
                    <br />
                    <input type="text" asp-for="EntState" />
                    <span asp-validation-for="EntState"></span>
                </div>
                <div class="form-group d-inline-block mr-2">
                    <label asp-for="EntZipCode">ZipCode</label>
                    <br />
                    <input type="number" asp-for="EntZipCode" />
                    <span asp-validation-for="EntZipCode"></span>
                </div>
                <div class="form-group d-inline-block mr-2">
                    <label asp-for="EntPhoneNumber">Phone Number</label>
                    <br />
                    <input type="text" asp-for="EntPhoneNumber" />
                    <span asp-validation-for="EntPhoneNumber"></span>
                </div>
                <div class="form-group d-inline-block mr-2">
                    <label asp-for="EntWebPage">Website</label>
                    <br />
                    <input type="text" asp-for="EntWebPage" />
                    <span asp-validation-for="EntWebPage"></span>
                </div>
                <div class="form-group d-inline-block mr-2">
                    <label asp-for="EntEmailAddress">Email</label>
                    <br />
                    <input type="email" asp-for="EntEmailAddress" />
                    <span asp-validation-for="EntEmailAddress"></span>
                </div>
                <div class="form-group d-inline-block mr-2">
                    <label asp-for="DateEntered">Date Entered</label>
                    <br />
                    <input type="date" asp-for="DateEntered" />
                    <span asp-validation-for="DateEntered"></span>
                </div>
            </div>
            <br />
                <div class="d-inline flex-nowrap">
                    <button type="submit" class="btn btn-primary mr-2 d-inline-block">Update</button>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@Model.EntertainerId" class="btn btn-danger d-inline-block">Delete</a>
                </div>
        </form>

    </div>
</center>