@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        We have a wide variety of
        <a asp-controller="Home" asp-action="Entertainers">entertainers</a>
        for you to view and choose from!
    </p>
</div>
